<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codenetic.kodegiri.coba3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo1"
        android:label="Kodegiri"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Tem">
        <activity android:name=".main.informasi_Tambah"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".main.informasi_Detail" />
        <activity android:name=".main.Training_Material_Tambah"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".main.Quick_guide_Tambah"
            android:parentActivityName=".MainMenu"/>

        <activity android:name=".main.Elearning_Act" />
        <activity android:name=".main.Splash" />
        <activity android:name=".main.Dicoba" />
        <activity android:name=".main.Salesman_PDF_Viewer" />
        <activity android:name=".main.Edt_Profile" />
        <activity android:name=".main.Profile" />
        <activity android:name=".main.Salesman_Tambah"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".main.transaction"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".main.Detail" />
        <activity
            android:name=".main.information"
            android:theme="@style/Tem"
            android:parentActivityName=".MainMenu"/>
        <activity
            android:name=".main.elearning"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".main.salesman_bulletin"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".main.quick_guide"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".main.catalog"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".main.transaksi"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".main.training_material"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".MainMenu"
            android:theme="@style/AppTheme" />
        <activity android:name=".register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>